<nav class="fixed px-8 py-4 top-0 w-full z-50">
  <div class="flex justify-start items-center">
    <a class="pl-4 pr-8 items-center">
      <svg
        class="h-12 w-12 fill-red-900"
        width="112"
        height="112"
        viewBox="0 0 112 113"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M70.3848 29.3873L77.1023 22.6698C80.617 19.1551 86.3155 19.1551 89.8302 22.6698C93.3449 26.1845 93.3449 31.883 89.8302 35.3977L83.1127 42.1152C80.1838 45.0442 80.1838 49.7929 83.1127 52.7218C86.0416 55.6508 90.7904 55.6508 93.7193 52.7218L102.322 44.1187C103.624 42.817 105.735 42.817 107.036 44.1187C113.545 50.6274 113.545 61.1802 107.037 67.6889L75.0988 99.6266C65.0815 109.644 39.06 123.22 14.1698 98.3302C-10.7204 73.4401 2.8561 47.4185 12.8734 37.4012L44.8111 5.46353C51.3198 -1.04521 61.8726 -1.04521 68.3813 5.46353C69.6831 6.76528 69.6831 8.87583 68.3813 10.1776L59.7782 18.7807C56.8493 21.7096 56.8493 26.4584 59.7782 29.3873C62.7071 32.3162 67.4559 32.3162 70.3848 29.3873Z"
        />
      </svg>
    </a>

    <ul
      class="hidden justify-between mx-auto w-1/2 font-Open-Sans font-semibold md:flex"
    >
      <li class="flex cursor-pointer hover:font-bold hover:text-red-900">
        Home
      </li>
      <li class="flex cursor-pointer hover:font-bold hover:text-red-900">
        About Me
      </li>
      <li class="flex cursor-pointer hover:font-bold hover:text-red-900">
        What I Do
      </li>
    </ul>

    <div
      (click)="toggleMobileMenu()"
      class="absolute cursor-pointer mx-4 right-0 block md:hidden"
    >
      BUTTON
    </div>
  </div>
</nav>
