<app-navbar></app-navbar>

<!-- <div class="absolute justify-center overflow-clip w-full z-0">
  <div
    class="overflow-clip -mt-32 sm:-mt-16 md:-mt-24 lg:-mt-16 h-[4000px] w-full scale-y-110 scale-x-80 md:scale-x-125 lg:-mr-32 -z-50 bg-[url('./assets/images/logo/BG.svg')]"
  ></div>
</div> -->

<router-outlet></router-outlet>
