<div class="flex justify-center">
  <div class="fade-top relative top-64 mx-2 sm:mx-10 md:mx-20 lg:mr-[30%]">
    <p
      id="text"
      class="font-Open-Sans font-semibold text-2xl sm:text-5xl md:text-6xl lg:text-7xl block w-fit px-2 bg-gradient-to-r from-green-300 to-teal-600"
    >
      Hej! I'm Oliver.
    </p>
    <p
      class="inline-block mt-2 ml-2 md:ml-8 font-Open-Sans font-semibold text-sm md:text-2xl"
    >
      A Full Stack C# Web Developer from Denmark...
    </p>
    <p class="block text-black text-6xl mt-[1000px]">TEXT</p>
  </div>
</div>
